*:focus {
    outline: none;
}

#root {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infinitescroll {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.infinitescroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

#send-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    background: #FEDE16;
    border: 2px solid #282C34;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: #643C11
}

#send-top:hover {
    background: #DEC630;
}

#logo {
    margin-top: 1em;
    width: 100%;
    max-width: 470px;
    cursor: pointer;
}

#content > h1 {
    color: #FEF8D6;
    letter-spacing: 1px;
    margin: .5em 0 .2em;
    text-align: center;
    font-size: 1.4em;
}

#content > h6 {
    color: tomato;
    margin: 0 0 .5em;
}

#to-random {
    width: 70%;
    margin: .45em 0em 0em;
    border-radius: 12px;
    border: 2px solid #282C34;
    max-width: 250px;
}

.img-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#content > h3 {
    color:#FCFCFC;
    margin: 1em 0;
    font-size: .74em;
    text-align: center;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0 .5em;
    max-width: 470px;
}

#search-input {
    margin: 1em;
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
    align-items: center;
}

#search-input > input {
    width: 100%;
    font-size: 1.17em;
    border: none;
    height: 28px;
}

#search-input > input::placeholder {
    font-size: .95em;
    color: lightgray;
}

#clearSearch {
    cursor: pointer;
}

#filters-applied {
    text-align: center;
    color: white;
    margin: 0 0 1em;
    font-size: .9em;
    padding: 0 10px;
}

#filters-applied > span {
    color: #FEDE16;
}

#filters-applied-total {
    text-align: center;
    color: white;
    margin: 0 0 1em;
    padding: 5px;
}

#filters-applied-total > span {
    color: #FEDE16;
}

#loading {
    display: flex;
    background: none;
    justify-content: center;
    border: none;
    width: 100%;
}

#empty {
    color: white;
}

/* Landing Page */

#glossary-content {
    display: flex;
    flex-direction: column;
    color: #FEDE16;
    align-items: center;
    font-size: 1.2em;
    letter-spacing: .8px;
}

.glossary-title {
    font-size: 1.3em;
    margin: 0 0;
}

#glossary-top > h2:first-child {
    margin-right: 5px;
}

#glossary-detail {
    color: white;
    font-size: .75em;
    margin: .5em 0 0;
    text-align: center;
}

#glossary-icons {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    flex-wrap: wrap;
}

.glossary-img {
    height: 33px;
    margin: 8px;
    border: 2px solid #282C34;
    border-radius: 50%;
}

.glossary-icon {
    color: #ecbf08;
    margin: 8px;
    border: 2px solid #282C34;
    border-radius: 50%;
}

.glossary-selected {
    border: 2px solid #FEDE16;
}

.landing-label {
    display: flex;
    align-items: center;
    margin: 0;
}

.landing-title {
    margin: 0 .5em 0 .8em;
    color: #FEDE16;
    font-size: 1.4em;
}

.landing-toList {
    margin: 0 0 .1em;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.landing-toList:hover {
    color: #FEDE16;
}

.toList-icon {
    color: #FEDE16;
}

.landing-container {
    width: 98%;
    margin: .5em 0em;
    overflow: auto;
}

.landing-container:last-of-type {
    margin-bottom: 2em;
}

.landing-list {
    margin: 0 1%;
    padding: 0 1%;
    display: flex;
    overflow: auto;
}

.landing-list::after {
    content: 't';
    color: #282C34;
}

.landing-list .movie {
    min-width: 110px;
}

.landing-list::-webkit-scrollbar {
    margin-left: 1em;
    width: .5em;
    height: .5em;
}
  
.landing-list::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
    border-radius: 3px;
}

.landing-list::-webkit-scrollbar-thumb:hover {
    background: #FEDE16; 
}

#landing-credit {
    color: white;
    width: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    justify-items: center;
    align-items: center;
}

#landing-credit > h4 {
    grid-column: 1/4;
    text-align: center;
}

#landing-credit img {
    width: 140px;
}

/* #landing-credit img {
    width: 170px;
} */

#landing-omdb {
    border-radius: 8px;
}

/* Filter Panel */

#filter-show {
    background: #f4f6f7;
    border: 2px solid #CCCCCC;
    padding: 8px;
    border-radius: 12px;
    font-size: 1em;
    width: 35%;
    cursor: pointer;
}

#filter-show:hover {
    background: #E5E7E8;
}

#filter-panel {
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    background: #f4f6f7;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#filter-buttons {
    display: flex;
    justify-content: space-evenly;
}

#filter-apply, #filter-reset {
    margin-bottom: 10px;
    background: #f4f6f7;
    border: 2px solid #282C34;
    padding: 10px;
    border-radius: 12px;
    font-size: .9em;
    box-shadow: 0 0 1px 0px black;
    width: 40%;
    cursor: pointer;
}

#filter-apply:hover, #filter-reset:hover {
    background: #E5E7E8;
    box-shadow: 0 0 3px 0px black;
}

.filter-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
}

.filter-select > label {
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: .2em;
}

.sort {
    width: 100%;
    margin-bottom: .2em;
}

.bold {
    font-weight: 600;
}

.filter-flex {
    display: flex;
    align-items: center;
}

.filter-flex > img {
    width: 26px;
    margin-left: 4px;
}

.placeholder-flex > img {
    opacity: .5;
}

.css-1rhbuit-multiValue img {
    width: 20px;
}

/* Review Page */

#reviewPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewPage-loading {
    margin: 10em;
    width: 50%;
}

#review-navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#navbar-content {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: .5em;
    padding: 5px 10px;
}

#nav-back, #nav-home {
    height: 34px;
    margin: 0em .5em;
}

#reviewPage-title {
    color: white;
    text-align: center;
    font-size: 1.6em;
    margin: .5em 0;
    padding: 0 8px;
}

#review-rank {
    color: #FEDE16;
    text-align: center;
    margin: 0 0 .8em 0;
    font-size: 1.75em;
    letter-spacing: 1px;
}

#review-poster {
    box-shadow: 0 0 11px 3px black;
    width: 300px;
    max-width: 300px;
    margin-top: .5em;
}

#review-card {
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-total {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 0 1em;
    max-width: 480px;
}

.score-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em 0;
    color: #FEDE16;
}

.score-row > h1 {
    margin: .3em 0 .3em;
}

.score-row > h1:last-of-type {
    margin-bottom: 0;
}

.score-img, .score-icon {
    height: 70px;
}

#review-plot {
    margin: 0 0 .5em;
    font-size: 1em;
    align-self: flex-start;
    padding: 0 1em;
}

.review-detail {
    color: #FEDE16;
    font-size: 1.4em;
    letter-spacing: 1px;
    align-self: flex-start;
    margin: .5em 1em .5em 1.5em;
}

.review-people {
    font-size: 1.2em;
    color: white;
    align-self: flex-start;
    margin: 0em 1em .8em 1em;
} 

#review-director {
    text-decoration: underline;
    cursor: pointer;
}

#review-streaming {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#streaming-title {
    color: #FEDE16;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px;
}

#review-streaming > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

#review-streaming > p {
    color: white;
    margin: 0 0 .5em 0;
    font-size: 1em;
}

#review-streaming > h2 {
    margin-top: 0em;
    font-size: 1.17em;
    text-align: center;
}

#review-streaming > hr {
    border-color: white;
    width: 50%;
    margin-bottom: 10px;
}

.provider {
    width: 60px;
    margin: 5px;
}

#review-trailer-wrapper {
    margin-top: 10px;
    width: 90%;
    height: 270px;
}

.react-player {
    box-shadow: 0 0 12px 3px black;
    max-height: 220px;
}

#review-other-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: .5em;
}

#review-other-scores > h3 {
    margin-right: auto;
}

#review-other-scores > span {
    display: flex;
    font-size: 2.4em;
    color: #FEDE16;
    align-items: center;
    margin: 0;
    width: 255px;
    height: 70px;
}

#review-other-scores a {
    width: 158px;
    display: flex;
    cursor: pointer;
}

#review-other-scores p {
    margin: 0;
}

#review-other-scores img {
    width: 150px;
    height: 70px;
}

#review-info {
    padding: 10px;
    margin: 1em 0;
    width: 90%;
    box-shadow: 0px 2px 8px 3px black;
    border-radius: 10px;
    max-width: 350px;
} 

#review-info td {
    padding: 5px;
}

.review-info-button {
    padding: 0;
    text-align: start;
    background: inherit;
    font-size: inherit;
    border: none;
}

#review-info, #review-info td {
    border: 1px solid black;
    border-collapse: collapse; 
}

#review-info tr {
    border-radius: 10px 10px 0 0;
} 

#review-info tr:nth-child(odd) {
    background-color: #f4f6f7;
}

#review-info tr:nth-child(even) {
    background-color: #E5E7E8;
}

.search-icon {
    text-decoration: underline;
    cursor: pointer;
}

#butter-row {
    border: none;
    display: flex;
    align-items: center;
}

#butter-row > img {
    width: 20px;
    margin-left: 5px;
}

#review-similar > .review-detail {
    margin-top: 0;
    margin-bottom: 0;
}

/* Random Movie Page */

.random > #logo {
    max-width: 320px;
}

.random-select {
    width: 80%;
    margin: .5em;
    max-width: 305px;
    font-size: .95em;
}

.random-select > label {
    font-size: 1.1em;
    color: #FEDE16;
    font-weight: 600;
}

.random-label > span {
    color: white;
}

.random-select .css-1wa3eu0-placeholder{
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}

.random > h2{
    margin: .75em 0 .4em;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

.random > h2 span {
    color: #FEDE16;
}

#random-error {
    margin: .5em;
    color: tomato;
    text-align: center;
}

/* RANGE SLIDERS */

#random-range {
    margin-top: 1.2em;
    width: 100%;
}

#filter-range {
    margin: 1em 0;
    width: 100%;
    background-color: #FEDE16;
}

.range {
    -webkit-appearance: none;
    height: 8px;
    outline: none;
    border-radius: 12px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 54px;
    height: 54px;
    appearance: none;
    background: url('../media/slider.png');
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
}
  
.range::-moz-range-thumb {
    width: 54px;
    height: 54px;
    background: url('../media/slider.png');
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 50%;
}

/* DOUBLE INPUT SLIDER */

.double-range {
    margin-top: 1.55em;
    margin-bottom: 13px;
    width: 100%;
    position: relative
}

#filter-panel .double-range {
    margin-top: 23px;
}

.double-range input[type=range] {
    -webkit-appearance: none;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 12px;
    outline: none;
    background: #FFFFFF;
}

#filter-panel .double-range input[type=range] {
    background: #FEDE16;
}
 
.double-range input[type=range]:focus::-webkit-slider-runnable-track, 
.double-range input[type=range]:focus::-ms-fill-lower, 
.double-range input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
    border-radius: 10px;
}

.double-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    border: 0;
}

.double-range input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    height: 34px;
    width: 34px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
    background: url('../media/left.png');
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
}

.double-range input[type=range]:first-of-type::-webkit-slider-thumb {
    background: url('../media/right.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* END DOUBLE */

#randomize {
    margin: .75em 0 2em;
    border: 2px solid #282C34;
    padding: 6px;
    border-radius: 8px;
    font-size: .9em;
    box-shadow: 0 0 1px 0px black;
    width: 38%;
    cursor: pointer;
    font-size: 1.9em;
    letter-spacing: 1px;
    max-width: 150px;
}

.random-loading {
    margin: 1em;
}

#random-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    margin: 0 1em 3em;
}

#random-info {
    color: white;
    grid-column: 1/3;
    text-align: center;
    width: 96vw;
    font-size: .7em;
    margin: 1em 0 0;
}

#random-title {
    color: white;
    text-align: center;
    margin: 0 0 .2em;
    grid-column: 1/3;
    padding: 0 6px;
    font-size: 1.4em;
}

#random-poster {
    box-shadow: 0 0 11px 3px black;
    max-width: 180px;
    cursor: pointer;
    grid-column: 1/3;
    margin-bottom: .4em;
}

#random-choice {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    width: 400px;
}

#random-total {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
    width: 100%;
    max-width: 480px;
    font-size: .9em;
}

#random-btn-row {
    margin-top: 1em;
    grid-column: 1/3;
}

.random-nav {
    margin: .2em .2em;
    border: 2px solid #282C34;
    padding: 6px 10px;
    border-radius: 12px;
    box-shadow: 0 0 1px 0px black;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 1px;
}

.random-btn:hover {
    background: #ecbf08;
    box-shadow: 0 0 3px 0px black;
}

.random-nav:first-of-type{
    justify-self: end;
}

.random-nav:last-of-type{
    justify-self: start;
}

#random-total >.score-row, #random-total > .score-row > h1:first-of-type {
    margin-top: 0;
}

.random-btn {
    background: #FEDE16;
    color: #643C11;
}

/* Width Specific */

@media screen and (max-width: 370px) {
    #content > h1 {
        font-size: 1.3em;
    }

    #content > h3 {
        font-size: .65em;
    }

    #search-input > input::placeholder {
        font-size: .81em;
    }
    
    #to-random {
        width: 100%;
    }

    #random-info {
        font-size: .6em;
    }

    #random-title {
        font-size: 1.5em;
    }

    #random-total {
        font-size: 1.3em;
    }
    
    .glossary-title {
        font-size: 1.17em;
    }

    #glossary-detail {
        font-size: .65em;
    }

    .glossary-img {
        height: 25px;
    }

    .landing-title {
        font-size: 1.15em;
        letter-spacing: 1px;
    }
    
    .landing-toList {
        margin: 0 0;
        font-size: .95em;
    }

    #landing-credit {
        width: 300px;
    }

    #landing-credit img {
        width: 110px;
    }

    .css-1wa3eu0-placeholder {
        font-size: .85rem; 
    }

    .tooltip {
        width: 230px;
    }

    #review-navbar {
        padding: 6px 0px; 
    }

    #nav-back, #nav-home {
        height: 30px;
    }

    .review-people {
        margin: 0em .5em .8em;
    }

    #review-streaming > div {
        width: 280px;
    }

    #review-info {
        font-size: .9em;
        width: 92vw;
    }

    #review-poster, #random-poster  {
        width: 85%;
    }

    .random-nav {
        padding: 6px;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: .5em;
    }
    
    #random-total h1 {
        font-size: 1.4em;
    }

    .butter {
        height: 20px;
    }
    
    .movie-total {
        font-size: .75em;
    }
    
    .movie-rank {
        font-size: .72em;
    }

    .movie-title {
        font-size: .78em;
    }
}

@media screen and (min-width: 410px) {
    #content > h3 {
        font-size: .78em;
    }

    #search-input > input::placeholder {
        font-size: 1em;
    }

    #filters-applied {
        font-size: .95em;
    }

    #random-content {
        grid-gap: 5px;
    }

    #random-poster {
        max-width: 220px;
    }
    
    .random-nav {
        margin: .4em .2em
    }

    #random-title {
        padding: 4px;
    }

    .landing-title {
        font-size: 1.5em;
        letter-spacing: .6px;
    }
    
    .landing-toList {
        font-size: 1.1em;
    }

    .landing-list .movie { /* Gonna need to adjust this on different screen sizes */
        min-width: 120px;
    }

    #landing-credit {
        width: 350px;
    }

    .movie {
        width: 120px;
        margin: .9em .4em;
    } 

    .movie-poster {
        height: 170px;
    }

    .butter {
        height: 24px;
    }
    
    .movie-total {
        font-size: .82em;
    }
    
    .movie-rank {
        font-size: .78em;
    }
    
    .movie-title {
        font-size: .82rem;
    }

    #nav-back, #nav-home {
        height: 36px;
    }

    #reviewPage-title {
        padding: 0 5px;
    }
}

@media screen and (min-width: 500px) {
    #content > h3 {
        font-size: 1em;
        margin-top: 1.2em;
    }

    #review-trailer-wrapper {
        width: 80%;
        height: 350px;
        align-self: center;
    }

    .react-player {
        max-height: 300px;
    }

    #review-info {
        width: 85%;
        max-width: 430px;
    } 

    #filters-applied {
        font-size: .95em;
    }
}

@media screen and (min-width: 630px) {
    #content > h3 {
        margin-bottom: 0;
    }

    .glossary-title {
        margin: 0;
    }

    #glossary-detail {
        font-size: .8em;
        margin: .7em 0 .3em;
    }

    .glossary-img {
        height: 55px;
    }

    .landing-title {
        margin: 0em .5em 0 1.1em;
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    
    .landing-toList {
        font-size: 1.05em;
        margin: 0 0 .2em;
    }

    .landing-list .movie { /* Gonna need to adjust this on different screen sizes */
        min-width: 130px;
        margin: 1em .5em;
    }

    .movie {
        width: 130px;
        padding: 0;
        margin: .9em;
        background: #F4F6F7;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 2px 8px 3px black;
    }
    
    .movie-link {
        text-decoration: none;
        color: black;
    }
    
    .movie-poster {
        width: 100%;
        height: 180px;
    }

    .movie-rank {
        font-size: .8em;
    }

    .infinite-scroll-component__outerdiv {
        max-width: 900px;
    }

    #search {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    #search-input {
        width: 90%;
    }

    #search-input > input {
        font-size: 1em;
    }
    
    #search-input > input::placeholder {
        font-size: 1em;
    }

    #filter-panel {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        max-width: 915px;
    }

    #filter-show {
        width: 80%;
    }
    
    .filter-select {
        width: 100%;
    }

    #filter-buttons {
        grid-column: 1/3;
        justify-content: center;
    }

    #filter-apply, #filter-reset {
        width: 40%;
        margin: 0 10px;
        max-width: 115px;
    }

    .sort {
        margin-bottom: 0em;
    }

    #review-rank {
        font-size: 1.85em;
    }

    #navbar-content {
        max-width: 650px;
        margin-bottom: 1.5em;
    }

    #nav-back, #nav-home {
        height: 38px;
    }

    #review-plot {
        padding: 0 8px;
    }

    .random > #logo {
        margin-top: 0;
    }

    .random #navbar-content {
        margin-bottom: .8em;
    }

    #random-title {
        font-size: 1.85em;
    }

    #random-info {
        font-size: .9em;
    }

    #random-poster {
        grid-column: 1/2;
        max-width: 270px;
        justify-self: end;
        margin: .9em 1.2em 0 0;
    }

    #random-total {
        grid-column: 2/3;
        max-width: 320px;
        justify-self: start;
        display: flex;
        flex-direction: column;
    }

    #random-total >.score-row{
        flex-direction: row;
        align-items: center;
        margin: 1.2em;
    }

    #random-total >.score-row > h1 {
        margin: 0 .5em;
    }
}

@media screen and (min-width: 700px) {
    #reviewPage {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 1em 2em;
        justify-content: center;
        align-items: start;
    }

    .reviewPage-loading {
        grid-column: 1/3;
        justify-self: center;
    }

    #review-navbar {
        width: 100%;
        grid-column: 1/3;
    }

    #reviewPage-title {
        grid-column: 1/3;
        font-size: 2.55em;
        text-align: center;
        margin-top: 0em;
        color: white;
        padding: 15px;
    }

    #review-rank {
        grid-column: 1/3;
        grid-row: 3/4;
        font-size: 1.85em;
    }

    #review-poster {
        grid-column: 1/2;
        margin: 0;
        max-width: 250px;
        align-self: end;
        justify-self: end;
    }

    #review-card {
        grid-column: 2/3;
        grid-row: 3/8;
        width: 95%;
        max-width: 900px;
        align-items: start;
        justify-self: start;
    }

    #review-total {
        margin: .35em .85em;
        padding: 0;
        justify-items: center;
    }

    #review-plot {
        font-size: .95em;
        margin: 0 0 0 1.6em;
    }

    #review-card > h3 {
        align-self: flex-start;
        margin: 1em 1.5em .5em;
    }

    .review-people {
        font-size: 1.1em;
        margin: 0em 1.7em;
    }

    #review-streaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #review-streaming > div {
        width: 480px;
    }

    #review-streaming > p {
        margin: 0 0 10px 0;
        font-size: 1.1em;
    }

    #review-streaming > h3 {
        font-size: 1.3em;
        margin: 1em 0 0em 0;
    }

    #review-streaming > h2 {
        margin-top: .5em;
    }

    #review-streaming > hr {
        width: 40%;
        margin: .5em;
    }

    #review-trailer-wrapper {
        width: 90%;
        height: 350px;
        align-self: center;
    }

    .react-player {
        max-height: 250px;
    }

    #review-info {
        max-width: 250px;
        width: 100%;
        grid-row: 4/6;
        grid-column: 1/2;
        margin: 1em 0 0 0;
        padding: 0px;
        align-self: start;
        justify-self: end;
        font-size: .9em;
    }

    #review-other-scores {
        max-width: 250px;
        justify-self: end;
        font-size: .9em;
    }

    #review-other-scores > .review-detail{
        font-size: 2em;
        align-self: center;
        margin: 10px 0;
    }

    #review-similar {
        margin-top: 1.5em;
        justify-self: center;
        grid-column: 1/3;
        max-width: 1050px;
    }
}

@media screen and (min-width: 800px) {
    .landing-title {
        margin: 0em .5em 0 1.75em;
    }

    .landing-toList {
        font-size: 1.15em;
    }

    .tooltip {
        width: auto;
        white-space: nowrap;
        margin-left: -50px;
    }

    #review-poster {
        max-width: 300px;
    }

    #review-total {
        max-width: 100%;
    }

    #review-total > .score-img, #review-total > .score-icon {
        height: 60px;
        max-height: 60px;
    }

    .provider {
        width: 70px;
        margin: 5px;
    }

    #review-streaming > div {
        max-width: 95%;
    }

    #review-info {
        max-width: 300px;
        width: 100%;
    }

    #review-other-scores {
        max-width: 300px;
        justify-self: end;
        font-size: .9em;
    }
}

@media screen and (min-width: 1000px) {
    .infinite-scroll-component__outerdiv {
        max-width: 1100px;
    }

    .landing-container {
        max-width: 1000px;
    }

    #review-trailer-wrapper {
        margin-top: 10px;
        width: 80%;
        height: 400px;
        align-self: center;
    }

    .react-player {
        max-height: 330px;
    }

    /* #review-similar > .landing-list {
        justify-content: center;
    } */
}

@media screen and (min-width: 1100px){
    #reviewPage-title {
        font-size: 2.75em;
    }

    #review-total > .score-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .5em 0;
        color: #FEDE16;
        width: 90%;
    }

    #review-total > .score-row > h1 {
        margin: 0 .5em;
        font-size: 1.75em;
    } 
}

@media screen and (min-width: 1150px){
   #review-similar > .landing-list {
        justify-content: center;
    }
}

@media screen and (min-width: 1250px){
    .score-row > h1 {
        font-size: 1.95em;
    } 
}

@media screen and (min-width: 1400px) {
    #send-top {
        right: 10%;
    }

    .landing-container {
        max-width: 1100px;
    }

    #review-trailer-wrapper {
        width: 88%;
        height: 515px;
        align-self: center;
    }

    .react-player {
        max-height: 425px;
    }

    #review-similar {
        margin-top: 0;
    }
}

@media screen and (min-width: 1700px) {
    #send-top {
        right: 16%;
    }
}



