*:focus {
    outline: none;
}

#root {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 1em;
}

#search-input {
    margin: 1em 0px;
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
    align-items: center;
}

#search-input > input {
    width: 100%;
    font-size: 1.17em;
    border: none;
}

#search-input > input::placeholder {
    font-size: .8em; /* Play with this for screen size */
    color: lightgray;
}

#search > #sort {
    width: 80%;
}

#sort > label {
    color: white;
    align-self: flex-start;
    font-size: .85em;
    padding: 4px;
    margin-bottom: 1em;
}

#loading {
    display: flex;
    background: none;
    justify-content: center;
    border: none;
}

#empty {
    color: yellow;
}

/* Review Page */

#reviewPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.reviewPage-loading {
    margin: 10em;
}

#reviewPage h2:first-child {
    color: white;
    padding: 1em;
    text-align: center;
    margin: 1em 0 0;
}

#reviewPage h2 {
    color: white;
    text-align: center;
    margin: 0 0 .8em;
}


#reviewPage img {
    box-shadow: 0 0 11px 3px black;
}