*:focus {
    outline: none;
}

#root {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infinitescroll {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.infinitescroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

#send-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    background: #FEDE16;
    border: 2px solid #282C34;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 1.3em;
}

#send-top:hover {
    background: #DEC630;
}

#logo {
    margin-top: 1em;
    width: 100%;
    max-width: 470px;
    cursor: pointer;
}

#to-random {
    margin: 1.2em 0em 0em;
    background: #FEDE16;
    border: 2px solid #282C34;
    border-radius: 12px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0 0 1px 0px black;
    width: 60%;
    padding: 10px;
    cursor: pointer;
    max-width: 220px;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 1em;
    max-width: 470px;
}

#search-input {
    margin: 1em 0px;
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
    align-items: center;
}

#search-input > input {
    width: 100%;
    font-size: 1.17em;
    border: none;
    height: 28px;
}

#search-input > input::placeholder {
    font-size: .95em;
    color: lightgray;
}

#clearSearch {
    cursor: pointer;
}

#filters-applied {
    text-align: center;
    color: white;
    margin: 0 0 1em;
    font-size: .85em;
    padding: 0 10px;
}

#filters-applied > span {
    color: #FEDE16;
}

#filters-applied-total {
    text-align: center;
    color: white;
    margin: 0 0 1em;
    padding: 5px;
}

#filters-applied-total > span {
    color: #FEDE16;
}

#loading {
    display: flex;
    background: none;
    justify-content: center;
    border: none;
    width: 100%;
}

#empty {
    color: white;
}

/* Landing Page */

.landing-title {
    color: #FEDE16;
    margin: 0em 1em;
    align-self: flex-start;
    font-size: 1em;
}

.landing-toList {
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.landing-toList:hover {
    color: #FEDE16;
}

.toList-icon {
    color: #FEDE16;
}

.landing-container {
    width: 98%;
    margin: .5em 0em;
    overflow: auto;
}

.landing-container:last-of-type {
    margin-bottom: 2em;
}

.landing-list {
    margin: 0 1%;
    padding: 0 1%;
    display: flex;
    overflow: auto;
}

.landing-list::after {
    content: 't';
    color: #282C34;
}

.landing-list .movie { /* Gonna need to adjust this on different screen sizes */
    min-width: 110px;
}

.landing-list::-webkit-scrollbar {
    margin-left: 1em;
    width: .5em;
    height: .5em;
}
  
.landing-list::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
    border-radius: 3px;
}

.landing-list::-webkit-scrollbar-thumb:hover {
    background: #FEDE16; 
}

/* Filter Panel */

#filter-show {
    background: #f4f6f7;
    border: 2px solid #CCCCCC;
    padding: 8px;
    border-radius: 12px;
    font-size: 1em;
    width: 35%;
    cursor: pointer;
}

#filter-show:hover {
    background: #E5E7E8;
}

#filter-panel {
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    background: #f4f6f7;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#filter-buttons {
    display: flex;
    justify-content: space-evenly;
}

#filter-apply, #filter-reset {
    margin-top: 10px;
    background: #f4f6f7;
    border: 2px solid #282C34;
    padding: 10px;
    border-radius: 12px;
    font-size: .9em;
    box-shadow: 0 0 1px 0px black;
    width: 40%;
    cursor: pointer;
}

#filter-apply:hover, #filter-reset:hover {
    background: #E5E7E8;
    box-shadow: 0 0 3px 0px black;
}

.filter-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
}

.filter-select > label {
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: .2em;
}

.sort {
    width: 100%;
    margin-bottom: .2em;
}

.filter-info {
    cursor: pointer;
    position: relative; 
}

.filter-icon {
    color: #282C34;
    margin-left: 8px;
}

.filter-icon-open {
    color: #FEDE16;
    margin-left: 8px;
}

.tooltip {
    font-size: .95em;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 8px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -56px;
}


/* Review Page */

#reviewPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewPage-loading {
    margin: 10em;
    width: 50%;
}

#reviewPage-title {
    color: white;
    text-align: center;
    font-size: 1.6em;
    margin: 1em 0 .5em 0;
}

#review-rank {
    color: white;
    text-align: center;
    margin: 0 0 1em 0;
    font-size: 1.65em;
}

#review-poster {
    box-shadow: 0 0 11px 3px black;
    max-width: 300px;
}

#review-card {
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-total {
    margin: .5em 0;
    font-size: 2.1em;
    color: #FEDE16;
}

#review-plot {
    margin: 0 0 .5em;
    font-size: 1em;
    align-self: center;
    padding: 5px;
}

#review-card > h3 {
    color: white;
    align-self: flex-start;
    margin: .5em 1em .5em 1.5em;
}

.review-people {
    font-size: 1.2em;
    color: white;
    align-self: flex-start;
    margin: 0em 1em .8em 1em;
} 

#review-streaming {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-streaming > p {
    margin: 0 0 .5em 0;
    font-size: 1.1em;
}

#review-streaming > h3 {
    font-size: 1.3em;
    color: white;
    text-align: center;
    margin: 0px;
}

#review-streaming > h2 {
    margin-top: 0em;
    font-size: 1.17em;
    text-align: center;
}

#review-streaming > hr {
    border-color: white;
    width: 40%;
    margin-bottom: 10px;
}

.provider {
    width: 60px;
    margin: 5px;
}

#review-trailer-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 210px;
    box-shadow: 0 0 12px 3px black;
}

#review-info {
    padding: 10px;
    margin: 1em;
    width: 80%;
    box-shadow: 0px 2px 8px 3px black;
    border-radius: 10px;
    max-width: 350px;
} 

#review-info td {
    padding: 5px;
}

#review-info, #review-info td {
    border: 1px solid black;
    border-collapse: collapse; 
}

#review-info tr {
    border-radius: 10px 10px 0 0;
} 

#review-info tr:nth-child(odd) {
    background-color: #f4f6f7;
}

#review-info tr:nth-child(even) {
    background-color: #E5E7E8;
}

/* Random Movie Page */

.random-select {
    width: 80%;
    margin: .5em;
    max-width: 305px;
}

.random-select > label {
    font-size: 1em;
    color: white;
}

.random > h2{
    margin: 2em 0em 1em;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

.random span {
    color: #FEDE16;
}

#random-error {
    margin: .5em;
    color: tomato;
    text-align: center;
}

#randomize {
    margin: 1.5em;
    background: #f4f6f7;
    border: 2px solid #282C34;
    padding: 10px;
    border-radius: 12px;
    font-size: .9em;
    box-shadow: 0 0 1px 0px black;
    width: 40%;
    cursor: pointer;
    font-size: 1em;
    max-width: 150px;
}

#randomize:hover, .random-buttons {
    background: #E5E7E8;
    box-shadow: 0 0 3px 0px black;
}

.random-loading {
    margin: 1em;
}

#random-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    margin-bottom: 3em;
}

#random-info {
    color: white;
    grid-column: 1/3;
    text-align: center;
    width: 325px;
}

#random-title {
    color: white;
    text-align: center;
    margin: 0;
    grid-column: 1/3;
    padding: 0 6px;
}

#random-poster {
    box-shadow: 0 0 11px 3px black;
    max-width: 300px;
    cursor: pointer;
    grid-column: 1/3;
}

#random-choice {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    width: 400px;
}

#random-total {
    font-size: 1.6em;
    margin: 0em 0em 1em;
    color: #FEDE16;
    grid-column: 1/3; 
}

.random-buttons {
    margin: 0 .5em;
    background: #f4f6f7;
    border: 2px solid #282C34;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 1px 0px black;
    cursor: pointer;
    font-size: 1em;
}

.random-buttons:first-of-type{
    justify-self: end;
}

.random-buttons:last-of-type{
    justify-self: start;
}

/* Width Specific */

@media screen and (max-width: 370px) {
    #search-input > input::placeholder {
        font-size: .81em;
    }
    
    #to-random {
        width: 100%;
    }

    #random-title {
        font-size: 1.5em;
    }

    #random-total {
        font-size: 1.3em;
    }

    .random-buttons {
        margin: 0;
        padding: 8px;
        border-radius: 12px;
        width: 90%;
        font-size: .9em;
    }

    .landing-title {
        font-size: .9em;
    }
    
    .landing-toList {
        font-size: 1em;
    }

    .tooltip {
        width: 230px;
    }
    
    #reviewPage-title, #review-poster, #random-poster {
        width: 90%;
    }
}

@media screen and (min-width: 410px) {
    #search-input > input::placeholder {
        font-size: 1em;
    }

    #filters-applied {
        font-size: .9em;
    }

    #random-title {
        padding: 8px;
    }

    .landing-title {
        font-size: 1.1em;
    }
    
    .landing-toList {
        font-size: 1em;
    }

    .landing-list .movie { /* Gonna need to adjust this on different screen sizes */
        min-width: 120px;
    }

    .movie {
        width: 120px;
        margin: .9em .4em;
    } 

    .movie-poster {
        height: 170px;
    }
}

@media screen and (min-width: 500px) {
    #review-trailer-wrapper {
        width: 80%;
        height: 300px;
        align-self: center;
    }

    .random-buttons {
        font-size: 1.17em;
    }

    #filters-applied {
        font-size: .95em;
    }
}

@media screen and (min-width: 630px) {
    .landing-title {
        margin: 0em 1.5em;
    }

    .tooltip {
        width: 260px;
        margin-left: -50px;
    }

    .landing-title {
        font-size: 1.15em;
    }
    
    .landing-toList {
        font-size: .95em;
    }

    .landing-list .movie { /* Gonna need to adjust this on different screen sizes */
        min-width: 130px;
        margin: 1em .5em;
    }

    .movie {
        width: 130px;
        padding: 0;
        margin: .9em;
        background: #F4F6F7;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 2px 8px 3px black;
    }
    
    .movie-link {
        text-decoration: none;
        color: black;
    }
    
    .movie-poster {
        width: 100%;
        height: 180px;
    }

    .infinite-scroll-component__outerdiv {
        max-width: 1000px;
    }

    #search {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-items: center;
        width: 100%;
    }

    #search-input {
        width: 90%;
    }

    #search-input > input {
        font-size: 1em;
    }
    
    #search-input > input::placeholder {
        font-size: 1em;
    }

    #filter-panel {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        max-width: 915px;
    }

    #filter-show {
        width: 80%;
    }
    
    .filter-select {
        width: 100%;
    }

    #filter-buttons {
        grid-column: 1/3;
        justify-content: center;
    }

    #filter-apply, #filter-reset {
        width: 40%;
        margin: 0 10px;
        max-width: 115px;
    }

    .sort {
        margin-bottom: 0em;
    }
}

@media screen and (min-width: 700px) {
    #reviewPage {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        justify-content: center;
        align-items: start;
        margin: 2em;
    }

    .reviewPage-loading {
        grid-column: 3/4;
        justify-self: center;
    }

    #reviewPage-title {
        grid-column: 2/5;
        font-size: 2em;
        text-align: center;
        margin-top: 0em;
        color: white;
    }

    #review-rank {
        grid-column: 2/5;
        font-size: 1.85em;
    }

    #review-poster {
        grid-column: 2/3;
        align-self: start;
        justify-self: end;
        margin: 0;
        max-width: 225px;
    }

    #review-card {
        width: 90%;
        grid-column: 3/5;
        grid-row: 3/6;
        max-width: 90%; /*This*/
        justify-self: center;
        align-items: start;
    }

    #review-plot {
        font-size: .95em;
        margin: 0;
    }

    #review-card > h3 {
        color: white;
        align-self: flex-start;
        margin: 1em 0em .5em;
    }

    .review-people {
        font-size: 1.1em;
        margin: 0em;
    }

    #review-streaming {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #review-streaming > p {
        margin: 0 0 10px 0;
        font-size: 1.1em;
    }

    #review-streaming > h3 {
        font-size: 1.3em;
        margin: 1em 0 0em 0;
    }

    #review-streaming > h2 {
        margin-top: .5em;
    }

    #review-streaming > hr {
        width: 40%;
        margin: .5em;
    }

    #review-trailer-wrapper {
        margin-top: 10px;
        width: 95%;
        height: 300px;
        align-self: center;
    }

    #review-info {
        width: 100%;
        grid-row: 4/5;
        grid-column: 2/3;
        margin: 1em 0 0 0;
        padding: 0px;
        justify-self: end;
        max-width: 225px;
    }
}

@media screen and (min-width: 800px) {
    .landing-title {
        margin: 0em 1.75em;
    }

    .tooltip {
        width: auto;
        white-space: nowrap;
        margin-left: -50px;
    }

    #review-poster {
        max-width: 300px;
    }

    .provider {
        width: 70px;
        margin: 5px;
    }

    #review-info {
        max-width: 300px;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .infinite-scroll-component__outerdiv {
        max-width: 1100px;
    }

    .landing-container {
        max-width: 1000px;
    }

    #review-trailer-wrapper {
        margin-top: 10px;
        width: 95%;
        height: 350px;
        align-self: center;
    }
}

@media screen and (max-width: 1230px) {

    #review-card {
        color: white;
        grid-column: 3/6;
        max-width: 90%;
        justify-self: center;
    }
}

@media screen and (min-width: 1400px) {
    #send-top {
        right: 10%;
    }

    .landing-container {
        max-width: 1100px;
    }

    #review-trailer-wrapper {
        width: 100%;
        height: 400px;
        align-self: center;
    }
}

@media screen and (min-width: 1700px) {
    #send-top {
        right: 16%;
    }

    #review-trailer-wrapper {
        width: 90%;
        height: 430px;
    }
}
