ul {
    padding-inline-start: 0px;
    list-style-type: none;
    width: 100%;
}

li {
    background: #F4F6F7;
    border-radius: 10px;
    margin: 1em;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    border: 1px solid #CCCCCC;
}

li > h4 {
    justify-self: flex-start;
    padding: 8px;
}