/* Font styling here (Move to SASS) */
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282C34;
}

* {
  font-family: 'Noto Sans', sans-serif;
}